h2.h2-faq{
    margin: 1em;
    background-color: #490d40;
    color: white;
    padding: .5em;
    text-align: center;
    margin: 0;
}
.faq h3 {
    border-bottom:solid #490d40;
    text-align: center;
    margin: .5em;
    color:#490d40;
}
div .faq{
    
    color: black;
    box-shadow: #490d40;
    margin: auto;
    padding: 2em;
    max-width: 50%;
    max-height: 60%;
}
div .faq ul li{
    text-align: left;
    color:#490d40;
}


@media only screen and (max-width: 600px) {
    div .faq{
        max-width: initial;
    }
}