.item-product-img{
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    margin: 0 auto;
    height: 196px;
}

.product{
    text-align: center;
    width: 250px;
    margin: 24px;
    font-size: .9em;
}

.title {
    font-weight: bold;
    color: black;
    margin-top: 24px;
}

.price {
    color: #757575;
}

.product li {
    display: list-item;
}