.item-product-img{
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    margin: 0 auto;
    height: 196px;
}

.product{
    text-align: center;
    width: 25%;
    margin: 24px;
}

.title {
    font-weight: bold;
    color: black;
}

.price {
    color: #757575;
}