.modal-img {
    margin: auto;
    padding: 30% 0
}

.elena-modal-product li {
    display: list-item;
}

.elena-modal-product .modal-content{
    height: 80vh;
    border: 4px solid #490d40;
}

.elena-modal-product .modal-body{
    margin-top: 32px;
}