aside{
    width: 50px;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    transition: all .3s ease-in;
    background: #000;
    &.open{
        width: 200px;
    }
    span{
        color: #FFF;
    }
    .openSwitcher{
        width: 50px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
