
#content{
    width: 100%;
    min-height: 100vh;
    padding: 80px 5% 0 0;
    padding-left: calc(2% + 50px);
    transition: all .3s ease-in;
    &.open{
        padding-left: calc(2% + 200px);
    }
}
