.footer{
    font-size: 12px;
    margin: 1em;
    background-color: #490d40;
    color: white;
    padding: .5em;
    text-align: center;
    width: 100%;
    max-height: 40%;
    margin: 0;
    padding: 1em;
    }
h3{
    font-style: italic;
}
h3 .salida{
    font-size: 12px;
    font-style: italic;
}
div .details{
    display: flex;
    max-width: 60%;
    max-height: 60%;
    text-align: left;
    padding: 1em;
    margin: auto;
}
div .info{
    max-width: 50%;
    align-content: right;
    margin-left: 10em;
}