.footer{
    font-size: 12px;
    margin: 1em;
    background-color: #490d40;
    color: white;
    text-align: center;
    width: 100%;
    max-height: 40%;
    margin: 0;
    }

h3 .salida{
    font-size: 12px;

}
div .details{
    display: flex;
    max-width: 60%;
    max-height: 60%;
    text-align: left;
    margin: auto;
}
div .info{
    max-width: 50%;
    align-content: right;
    margin-left: 10em;
}